---
import "~/styles/displays.css";
import Hero from "~/components/sections/Hero.astro";
import Card from "~/components/ui/Card.astro";
import { SOCIALS } from "~/consts";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { fetchFilteredRepositories } from "~/utils/github";

const repos = await fetchFilteredRepositories(SOCIALS.github.handle);
---

<BaseLayout title="Projects" description="My GitHub projects and repositories">
    <Hero
        title="My Projects"
        description="Open source repositories and personal projects"
        disableLogo
    />

    <div
        display-container-grid
        style={`--columns: ${Math.min(repos.length, 3)};`}
    >
        {
            repos.map((repo) => (
                <Card
                    href={repo.html_url}
                    title={repo.name}
                    icon={`â­ ${repo.stargazers_count}`}
                >
                    {repo.description && (
                        <p class="inner-card">{repo.description}</p>
                    )}
                    <div display-simple-flex class="inner-card">
                        {repo.language && (
                            <div class="language">
                                <span class="language-dot" />
                                {repo.language}
                            </div>
                        )}
                        <span>
                            {`Updated: ${new Date(repo.updated_at).toLocaleDateString()}`}
                        </span>
                    </div>
                </Card>
            ))
        }
    </div>
</BaseLayout>

<style>
    .inner-card {
        color: rgb(var(--color-gray-dark));
        line-clamp: 2;
        -webkit-line-clamp: 2;
        justify-content: space-between;

        & span {
            color: rgb(var(--color-gray));
        }
    }

    .language {
        display: flex;
        align-items: center;
        gap: var(--spacing-small);
    }

    .language-dot {
        width: var(--border-radius);
        height: var(--border-radius);
        border-radius: 50%;
        background: var(--color-accent);
    }
</style>
