---
import type { HTMLAttributes } from "astro/types";
import { SOCIALS } from "~/consts";
import Icon from "./Icon.astro";

type Props = HTMLAttributes<"nav">;

const { class: className, ...navProps } = Astro.props;
---

<nav {...navProps} class={`social-links ${className}`}>
    {
        Object.entries(SOCIALS).map(([iconName, social]) => (
            <a
                href={social.url}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={social.label}
            >
                <span class="sr-only">{social.label}</span>
                <Icon icon={iconName} />
            </a>
        ))
    }
</nav>

<style>
    .social-links {
        display: flex;
        gap: var(--spacing-large);

        & a {
            color: inherit;

            &:hover,
            &:active {
                color: var(--color-accent);
            }
        }
    }
</style>
