---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PageLayout from "~/layouts/PageLayout.astro";
import BlogGrid from "~/components/sections/BlogGrid.astro";
import FormattedDate from "~/components/ui/FormattedDate.astro";
import { SITE } from "~/consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout title={SITE.title} description={SITE.description} maxWidth="medium">
    <BlogGrid>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        {post.data.heroImage && (
                            <Image
                                width={720}
                                height={360}
                                src={post.data.heroImage}
                                alt=""
                            />
                        )}
                        <h4 class="title">{post.data.title}</h4>
                        <p class="date">
                            <FormattedDate date={post.data.pubDate} />
                        </p>
                    </a>
                </li>
            ))
        }
    </BlogGrid>
</PageLayout>
