---
import BaseHead from "~/components/common/BaseHead.astro";
import Header from "~/components/layout/Header.astro";
import Footer from "~/components/layout/Footer.astro";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
  imageAlt?: string;
  type?: "website" | "article";
  publishedTime?: Date;
  updatedTime?: Date;
}

const { title, description, image, imageAlt, type, publishedTime, updatedTime } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead 
      title={title} 
      description={description}
      image={image}
      imageAlt={imageAlt}
      type={type}
      publishedTime={publishedTime}
      updatedTime={updatedTime}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
  }
</style>
